/** CSS rules for the application. */

html {
	height: 100%;
}

body {
	padding-top: 0px !important;
	height: 100%;
	background-image: url(img/background.png);
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 40px;
  /**text-align: center; **/
  padding: 15px;
}

li {
	line-height: 25px !important;
}